//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 05 19:34:30 2016
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

